<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="listaEquipos" *ngIf="folder=='Equipos'">
    <ion-title size="large">Equipos participantes</ion-title>
    <ion-card *ngFor="let e of equipo" [routerLink]="e.url" >
      <ion-title size="large">{{e.nombre}}</ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
              <ion-img src="{{e.logo}}"></ion-img>
          </ion-col>
          <ion-col size="10">
            <ion-item>
              Ciudad: {{e.ciudad}}
            </ion-item>
            <ion-item>
              Estadio: {{e.estadio}}
            </ion-item>
            <ion-item>
              Presidente: {{e.presidente}}
            </ion-item>
            <ion-item>
              Entrenador: {{e.entrenador}}
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div id="detalleEquipo" *ngIf="tipo=='equipo'">
    <ion-title size="large">{{equipo_seleccionado.nombre}}</ion-title>
    <ion-img src="{{equipo_seleccionado.logo}}" style="height:80px"></ion-img>
    <ion-item>
      Ciudad: {{equipo_seleccionado.ciudad}}
    </ion-item>
    <ion-item>
      Estadio: {{equipo_seleccionado.estadio}}
    </ion-item>
    <ion-item>
      Presidente: {{equipo_seleccionado.presidente}}
    </ion-item>
    <ion-item>
      Entrenador: {{equipo_seleccionado.entrenador}}
    </ion-item>
    <ion-title size="medium">Listado de Jugadores</ion-title>
    <ion-list>
      <ion-item *ngFor="let j of equipo_seleccionado.jugadores">
        Número:{{j.numero}},
        Nacionalidad:{{j.nacionalidad}},
        Posición:{{j.posicion}},
        Nombre:{{j.nombre}},
        Apellido:{{j.apellido}},
        Edad:{{j.edad}}
      </ion-item>
    </ion-list>
    <ion-button [routerLink]="retorno">Retornar</ion-button>
  </div>
  <!--<div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
  <div *ngIf="folder=='usuarios'">
    <ion-list>
      <ion-item *ngFor='let u of usuarios'>
        Numero: {{u.id}}<br>
        Nombre: {{u.name}}
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="folder=='registro'">
    <form (ngSubmit)="registrar()">
      <ion-title>Registro de nuevo usuario</ion-title>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input name="nombre" [(ngModel)]="nombre" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nombre de Usuario</ion-label>
        <ion-input name="username" [(ngModel)]="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Correo Electrónico</ion-label>
        <ion-input name="email" [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-button type="submit">Registrar Nuevo Usuario</ion-button>
    </form>
  </div>
</ion-content>
